<ul>
  <% cars.forEach(function(car){ %>
    <li><a href="/cars/<%= car._id %>"><%= `${car.year} ${car.color} ${car.make} ${car.model}`%></a></li>
  <% }) %>
</ul>

<a href="/cars/new"><button>New</button></a>
