<form action="/cars" method="post">
  Make:
  <br>
  <input type="text" name="make">
  <br>

  Model:
  <br>
  <input type="text" name="model">
  <br>

  Year:
  <br>
  <input type="number" name="year">
  <br>

  Color:
  <br>
  <input type="text" name="color">
  <br>
  <input type="submit" value="Submit">
</form>

<a href="/cars"><button>Back</button></a>
